html,
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1.5;
}

body {
  width: 100%;
  height: 100vh;
  background: url(background.jpeg) no-repeat center;
  background-size: cover;
  font-family: cursive;
  background-attachment: fixed;
}

.web {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

img {
  width: 20%;
  height: auto;
  border-radius: 50% 20% / 10% 40%;
  border: 30px solid rgba(196,191,182,.5);
  transition: all 0.5s ease-in-out;
}
 

.first-row {
    width: 100%;
    height: auto;
    margin: auto;
}
  
.one {
    height: auto;
    margin-left: 5%;
    transform: rotate(345deg);
    display: flex;
    flex-direction: column-reverse;
    position: sticky;
    top: 25%;
}
  
.two {
    text-align: right;
    height: 100%;
    width: 85%;
}

#left_hello {
    font-size: max(15vw, 20px);
    font-family: 'Great Vibes', cursive;  
    letter-spacing: 10px;
    color: rgba(139,69,19,0.6);
    position: absolute
}

#left_name {    
    font-size: max(5vw, 15px);
    text-transform: uppercase;
    font-family: cursive;
    text-overflow: ellipsis; 
    white-space: nowrap;
    letter-spacing: 2px;
    color: rgba(242,235,226, 0.8);
    position: relative;

}

.world {
    font-size: 60px;
    text-align: left;
    margin: 10% 5%;
    background-color: rgba(196,191,182,.3);
    color: rgba(148,106,59, 10);
    padding-left: 10px;
}

.edu {
    font-size: 30px;
    text-align: right;
    margin-right: 5%;
    margin-left: 5%;
    background-color: rgba(196,191,182,.3);
    color: rgba(148,106,59, 10);
    padding-right: 10px;
}

.introduce {
    margin-top: -1%;
    font-size: 20px;
    margin-left: 5%;
    font-family: serif;
    color: rgb(242, 235, 226);
}

.school {
    margin-top: -1%;
    font-size: 20px;
    margin-right: 5%;
    text-align: right;
    font-family: serif;
    color: rgb(242, 235, 226);
}

.linkes {
    text-align: center;
    font-size: 25px;
    color: rgba(148,106,59, 10);
}

#contact {
    background-color: rgba(196,191,182,.3);
    margin-left: 5%;
    margin-right: 5%;
}

ul {
    list-style-type: none;
    margin-top: 30px;
  }

  li {
    display: inline;
    letter-spacing: 15px;
  } 

img:hover {
    transform: scale(1.1);
}